#search-results-div{
}

.list-profile-image{
width:150px;
height:150px;
margin:0 5px 0 0;
}

.member-list-div{
max-width:500px;
border-bottom:thin solid #CCC;
padding:0 0 3px 0;
margin:0 0 3px 0;
}
.no-background{
background-image:none !important;	
}